{% include "header.html" %} 


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}

	<br>
	<br>
	<center>
	  <img src="https://i.ibb.co/t8vPFHP/214-2143533-default-avatar-comments-default-avatar-icon-png.png" alt="Avatar" style="width: 200px;>
	  <div class="container">
		<h4><b>{{ user.first_name}} {{ user.last_name }}</b></h4> 
		<p>{{user.email}}</p> 
	  </div>
	</div>
	</center>

	<br>

<div class="container" style="text-align: left; width: 500px;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" onclick="locationhref = '/';">Submit</button>
    </form>
    <br>
</div>


{% endblock %}