<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


{% if user.is_authenticated %}

  
{% else %}

	<meta http-equiv = "refresh" content = "0; url = /" />

{% endif %}
  
{% include "isolatedHeader.html" %} 

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">

	<title>Profile</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	

	
	<style>
	
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		  max-width: 300px;
		  margin: auto;
		  text-align: center;
		  font-family: arial;
		}
		
		.turnInvisible {
		
			display: none;
		
		}
		
		.turnVisible {
		
			display: inline-block;
		
		}
			
	
	</style>
	
	<script>
	
		function editProfile() {
		
			var profileCard = document.getElementById("defaultProfileCard");
			var editProfileCard = document.getElementById("editProfileCard");
			
			profileCard.classList.toggle("turnInvisible");
			
			editProfileCard.classList.toggle("turnInvisible");
			editProfileCard.classList.toggle("turnVisible");
			
			
		}
		
		function backToRegularProfile() {
		
			var profileCard = document.getElementById("defaultProfileCard");
			var editProfileCard = document.getElementById("editProfileCard");
		
			editProfileCard.classList.toggle("turnInvisible");
			editProfileCard.classList.toggle("turnVisible");
			
			profileCard.classList.toggle("turnInvisible");
			
			
		
		}
	
	</script>
	
</head>

<body>
	
	<div style="display: inline-block; width: 100%; height: 80%; margin-top: 1%;">
	
		
		<!-- Default Profile Card -->
		<div id="defaultProfileCard" class="" style="width: 25%; height: 100%; border: 1px solid white; float: left;"> 
		
			<div class="card" style="margin-top: 0px; width: 80%;">
			
				<center>
					<img src="https://i.ibb.co/t8vPFHP/214-2143533-default-avatar-comments-default-avatar-icon-png.png" alt="profilePic" style="width:60%; margin-top: 20px;">
				</center>
				
				<h3>{{ user.first_name }} {{ user.last_name }}</h3>
				
				<p style="margin-top: -10px; margin-bottom: 20px;" class="title">{{ user.email }}</p>
				
				<p>University of Virginia Student</p>
				
				<center style="margin-bottom: 8%;">
				
				<a class="btn btn-primary" href="logout">Logout</a>
				
				<!-- class="nav-link" onclick="location.href = 'newpost';" -->
				
				<a class="btn btn-primary" style="color: white;" onclick="editProfile()">Edit Profile</a>

				
				</center>

		
			</div>
		
		</div>
		

			<div id="editProfileCard" class="turnInvisible" style="width: 25%; height: 100%; border: 1px solid white; float: left;"> 
			
				<div class="card" style="margin-top: 0px; width: 80%;">
				
			
						<div style="display: inline-block; margin-top: 20px; margin-bottom: 20px;">
						
							<img src="https://i.ibb.co/t8vPFHP/214-2143533-default-avatar-comments-default-avatar-icon-png.png" alt="profilePic" style="width:20%; margin-left: 10%; float: left;">
							<h3 style="margin-left: 20px; margin-top: 14px; width: 200px; text-align: left;"><span style="color: white">-</span>Edit Profile</h3>
							
						</div>
					
						<form action="" method="post" id="editProfileForm" style="display: inline-block; padding-left: 10px; padding-right: 10px;">
			
							{% csrf_token %}
						
							<input style="margin-bottom: 10px;" class="editProfileFormCSS form-control" id="email" type="text" name="email" form="editProfileForm"  readonly="readonly" value="{{ user.email }}" placeholder="Email"></input>

							<input style="margin-bottom: 10px;" class="editProfileFormCSS form-control" id="first_name" type="text" name="first_name" form="editProfileForm" value="" placeholder="First Name"></input>
					
							<input style="margin-bottom: 10px;"  class="editProfileFormCSS form-control" id="last_name" type="text" name="last_name" form="editProfileForm" value="" placeholder="Last Name"></input>
							
							
							<center style="margin-bottom: 0px;">
					
								<!-- class="nav-link" onclick="location.href = 'newpost';" -->
								<input class="btn btn-primary" type="submit" value ='Submit' class="submitButton">
							
								<!-- class="nav-link" onclick="location.href = 'newpost';" -->
								<a class="btn btn-primary" style="color: white;" onclick="backToRegularProfile()">Back</a>
									
							</center>

						</form>

					
					</center>

			
				</div>
			
			</div>
		
		
		
		<div style="width: 75%; height: 100%; border: 1px solid white; margin-left: 25%; overflow-y: auto;"> 
		
			<!-- Citation: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_collapsible_accordion&stacked=h -->
			<div class="panel-group" id="accordion" style="padding-right: 3%;">

			{% if userPostList %}
				
				{% for postVar in userPostList %}
					
					<div class="panel panel-default all">
							
						<div class="panel-heading">
					  
						<span style="color: black; float: left; width: 100px;">
						
							{{ postVar.category }}
						
						</span>
					  
						<span class="panel-title">
						  
							<!-- Note: The data-parent attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.-->
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" style="color: #0225c2; text-decoration: none;">{{ postVar.titleText }}</a>
				
						</span>
						
						<span style="float: right;">
						
							${{ postVar.price }}
						
						</span>
						
					  </div>
					  
						{% if forloop.counter == 1 %}
					  
							<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
					  
						{% else %}
					  
							<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
					  
						{% endif %}
						
						<div class="panel-body"> 
						
							<div style="display: inline-block; width: 800px; height: 300px;">
							
								<img style="height: 100%; width: 300px; border-radius: 5px; float: left;" src="{{postVar.file.url}}">
							
								<div style="margin-left: 315px; width: 300px; height: 300px;">
								
									<div style="border: 1px solid #e3e3e3; background-color: #f5f5f5; border-radius: 5px; height: 30%; width: 100%;">
									
										<div style="padding-left: 5px; padding-top: 5px; margin-left: 5px; font-size: 15px;">
										{{ postVar.titleText }}
										</div>
										<div style="font-size: 10px; margin-left: 10px; color: grey;">
											Posted by {{ postVar.user.first_name }} {{ postVar.user.last_name }}</span>
										</div>
										<div style="font-size: 10px; margin-left: 10px; color: grey;">
										
											{{ postVar.creation_date }}
										
										</div>
										<div style="position: relative; bottom: -5px; left: 10px; font-size: 18px; color: #0db80d;">
										
											${{ postVar.price }}
										
										</div>
										
									</div>
									
									<div style="border: 1px solid #e3e3e3; background-color: #f5f5f5; border-radius: 5px; margin-top: 5%; width: 100%; padding: 10px; font-size: 12px;">
										
										{{ postVar.description }}
									
									</div>
									
									<a class="btn btn-outline-primary" style="margin-top: 10px; border: 1px solid blue;" href="/posts/{{ postVar.id }}/">More</a>
								
								
								</div>
								
							</div>
						
						</div>
						
					  </div>
					  
					</div>

				{% endfor %}
				
			{% else %} 

			<p>No posts are available.</p>
					
			{% endif %}


			</div> 
			</div>
		
		
		</div>
	
	
	</div>



  </body>
  </html>

 
  
  