
{% if user.is_authenticated %}

  
{% else %}

	<meta http-equiv = "refresh" content = "0; url = /" />

{% endif %}
  
{% include "header.html" %} 

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>

	<br>
	<br>
	<center>
	  <img src="https://i.ibb.co/t8vPFHP/214-2143533-default-avatar-comments-default-avatar-icon-png.png" alt="Avatar" style="width: 200px;>
	  <div class="container">
		<h4><b>{{ user.first_name}} {{ user.last_name }}</b></h4> 
		<p>{{user.email}}</p> 
	  </div>
	</div>
	</center>
	
	<center>
	<a class="btn btn-primary" href="logout">Logout</a>
 <!-- class="nav-link" onclick="location.href = 'newpost';" -->
	<a class="btn btn-primary" style="color: white;" onclick="location.href = 'profileupdate';">Edit Profile</a>
	</center>
	
	

  </body>
  </html>

 
  