{% include "header.html" %}

{% load crispy_forms_tags %}
<head>
	
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

	<head>
		<body>

			<br>
			<br>

			<center><h1>Create a Post</h1></center>

		{%if user.is_authenticated%}

		<center>
			<p> You are logged in as {{user.username}}</p>
			<table>
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{form.as_table}}
				</table>
				<button type="submit">Upload Post </button>

			</form>
		</center>
		<!-- Default form contact -->

		{%else%}
		<p> You need to be logged in in order to make a post! </p>
		{%endif%}

		
		
	</form>
	
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

	
<center>
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidGVhbXJlbmFtZWxhdGVyIiwiYSI6ImNrMzRnb3ozcTEyZnozbm1vNzc5MXV0NWYifQ.esg5yN_DJAgReRBLyws-tw';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
	center: [-78.509, 38.033],
	zoom: 14,
	bearing: 8
  });
 
	var geocoder = new MapboxGeocoder({
	accessToken: mapboxgl.accessToken,
	marker: {
	color: 'orange'
	},
	mapboxgl: mapboxgl
	});
 
  
  map.addControl(new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  mapboxgl: mapboxgl,
  bbox: [-80, 35, -75, 42],

}));
</script>
</center>

</body>

<!-- 
<tr><th><label for="id_titleText">TitleText:</label></th><td><input type="text" name="titleText" maxlength="200" required id="id_titleText"></td></tr>
					<tr><th><label for="id_description">Description:</label></th><td><input type="text" name="description" maxlength="200" required id="id_description"></td></tr>
					<tr><th><label for="id_category">Category:</label></th><td><select name="category" id="id_category">
						<option value="Electronics">Electronics</option>

						<option value="Services">Services</option>

						<option value="Misc" selected>Miscellaneous</option>

						<option value="Housing">Housing</option>

						<option value="Food">Food</option>

						<option value="Community">Community</option>

						<option value="Textbooks">Textbooks</option>

						<option value="Tutoring">Tutoring</option>

						<option value="Clothes">Clothes</option>

					</select></td></tr>
					<tr><th><label for="id_price">Price:</label></th><td><input type="number" name="price" step="1.00" required id="id_price"></td></tr>
					<tr><th><label for="id_file">File:</label></th><td><input type="file" name="file" accept="image/*" id="id_file"></td></tr> -->
