{% include "header.html" %}

{% load crispy_forms_tags %}
<head>

<head>
<body>

	<br>
	<br>

	<center><h1>Create a Post</h1></center>

	<form action="" method="POST">
	
		{% csrf_token %}

		  </div>
		<!-- <div>Title:</div> 
		<input type="text" name="titleText"/>
		<br/>
		<br/>
		<div>Description:</div> 
		<textarea cols="35" rows="8" name="description">
		</textarea>
		<br/>
		<input type="submit" value="Submit"/> -->
		{%if user.is_authenticated%}

			<center>
				<p> You are logged in as {{user.username}}</p>
				<form action="posts/addPost/" method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<table>
						{{ form.as_table }}
					</table>
					<input type="submit" value="save" />



				<!-- <input type="submit" value="save" /> -->
				<!-- <button type="submit">Create a Post!</button> -->
				</form>
			</center>
<!-- Default form contact -->

		{%else%}
			<p> You need to be logged in in order to make a post! </p>
		{%endif%}

		
		
	</form>
	
	
</body>
