<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% block page %} 
{% load socialaccount %}
{% providers_media_js %}

<!--
UVA Craigslist
Main Page
Updated:
10/13/2019 by Charles Ferraro
-->

<!--
Quick Guide to CSS:
https://www.w3schools.com/css/css_howto.asp
https://www.w3schools.com/css/css_specificity.asp
-->

<!-- 
This is a comment in HTML.
There are no single line comments in HTML. 
Only block and its this.
 -->
 
<!--
NOTE: PLEASE PROPERLY INDENT THE HTML ELEMENTS.
Indenting has no effect on the code, but it makes it a lot nicer.
-->

<!--
The head tag is not for displaying elements. 
It can display elements, but that use is discouraged. 
The page header does NOT go in here.
The head tag is supposed to contain metadata.
The following tags are metadata: <title>, <style>, <meta>, <link>, <script>, and <base>.
-->
<head>

	<!-- 
	This sets the title of the browser tab.
	-->
	<title>Posts</title>
	
	<!-- 
	This defines the character set used in the page.
	This really doesn't do much.
	-->
	<meta charset="UTF-8">
	
	<!--
	Loads bootstrap 4.
	-->
	{% load bootstrap4 %}

</head>

<!--
Bootstrap Header
-->
 
{% include "header.html" %}

<body>

	<button class="btn btn-primary" type="submit" href='../newpost';>New Post</button>
	<!-- <button type="submit" onclick='posts/newPost/'>New Post</button> -->
	
	{%if user.is_authenticated%}
		{% if postList %}
			{% for postVar in postList %}

					  <div class="col-md-10 blogShort">
						<h1>{{ postVar.titleText }}</h1>
						<article><p>
							<h2>{{ postVar.description }}</h2>
							</p></article>
						<h1></h1><a class="btn btn-blog pull-right marginBottom10" href="/posts/{{ postVar.id }}/">Go to Post</a> 
					</div>
					
			{% endfor %}

		{% else %} 

			<p>No posts are available.</p>
			
		{% endif %}
	{%else%}
		<p> You need to be logged in in order to make a post!</p>
		<a class="btn btn-primary" href="\">Back to Homepage</a>
 		<li class="nav-item">
 		<a href="{% url 'social:begin' 'google-oauth2' %}">Google Connect</a>

 		{%endif%}
</body>
{% endblock %} 


<!-- Example of accessing elements within an array that is passed by a dictionary
{% if test_array %}

	<ul>
	{% for test in test_array %}
	 
		<li> {{ test }} </li>
	
	{% endfor %} 
	</ul>
	
{% endif %}
-->