<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% block page %} 
{% load socialaccount %}
{% providers_media_js %}

<!--
UVA Craigslist
Main Page
Updated:
10/13/2019 by Charles Ferraro
-->

<!--
Quick Guide to CSS:
https://www.w3schools.com/css/css_howto.asp
https://www.w3schools.com/css/css_specificity.asp
-->

<!-- 
This is a comment in HTML.
There are no single line comments in HTML. 
Only block and its this.
 -->
 
<!--
NOTE: PLEASE PROPERLY INDENT THE HTML ELEMENTS.
Indenting has no effect on the code, but it makes it a lot nicer.
-->

<!--
The head tag is not for displaying elements. 
It can display elements, but that use is discouraged. 
The page header does NOT go in here.
The head tag is supposed to contain metadata.
The following tags are metadata: <title>, <style>, <meta>, <link>, <script>, and <base>.
-->

{% include "isolatedHeader.html" %}

<head>

	<!-- 
	This sets the title of the browser tab.
	-->
	<title>Posts</title>
	
	<!-- 
	This defines the character set used in the page.
	This really doesn't do much.
	-->
	<meta charset="UTF-8">
	
	<!--
	Loads bootstrap 4.
	-->
	
	<!--  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<style>
	
		.hide {
		
			display: none;
		
		}
	
	</style>
	
	<!-- Javascript code for the dropdown list of categories. -->
	<script>
	
		function filterByCategory() {
		
			var categoryFilter = document.getElementById("selectCategory").value;
			var arrayOfCategoryElements = document.getElementsByClassName(categoryFilter);
			var arrayOfAllElements = document.getElementsByClassName("all");
			
			var count;
			
			for(count = 0; count < arrayOfAllElements.length; count++) {
			
				if(arrayOfAllElements[count].classList.contains("hide")) {
				
					//Nothing
				
				} else {
				
					arrayOfAllElements[count].classList.toggle("hide");
				
				}
			
				
			}
			
			for(count = 0; count < arrayOfCategoryElements.length; count++) {
			
				
				arrayOfCategoryElements[count].classList.toggle("hide");
			
			}
		
		
		}
	
	</script>


</head>

<!--
Bootstrap Header
-->

<body>


 
<div class="container">
  <h2>Recent Posts</h2>
  <div style="margin-top: -10px; margin-bottom: 10px;"> 
  
	Click on a post to view. 
  	
	{% if user.is_authenticated %}
	
		<button style="float: right; visibility: hidden;" class="btn btn-primary" type="submit" onclick="">New Post</button>
	
	{% endif %}

  </div>
  
 
	<!-- Citation: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_dropdown-header&stacked=h -->

	<div style="width:200px;">
	
	  <select id="selectCategory" onchange="filterByCategory()">
		
		<option disabled selected value="all">Pick a category</option>
		<option value="all">All</option>
	  
		{% if postList %}
	  
			<!-- Takes the array of categories in the first instance of post. The list of categories is part of every instance of post. -->
			{% for categoryVar in postList.0.CategoryChoices %}
	  
				<!-- Loops over each category and set the value to the for loop count starting from 1 -->
				<option value="{{ categoryVar.1 }}">{{ categoryVar.1 }}</option>

		
			{% endfor %}
		
		
		{% else %}
		
			<option value="-1">Error</option>
		
		{% endif %}
		
	  </select>
	  
	</div>

	<br>
	

  <!-- Citation: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_collapsible_accordion&stacked=h -->
  <div class="panel-group" id="accordion">
  
	{% if postList %}
		
		{% for postVar in postList %}
		  
			{% if categoryClicked == 'all' %}
		  
			<div class="panel panel-default all {{ postVar.category }}">
			
			{% else %}
			
				{% if categoryClicked == postVar.category %}
			
					<div class="panel panel-default all {{ postVar.category }}">
					
				{% else %}
				
					<div class="panel panel-default all {{ postVar.category }} hide">
				
				{% endif %}
			
			{% endif %}
			
			  <div class="panel-heading">
			  <b>
				<span style="color: black; float: left; width: 100px;">
				
					{{ postVar.category }}
				
				</span>
			</b>
				<span class="panel-title">
				  
					<!-- Note: The data-parent attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.-->
					<a data-toggle="collapse" data-parent="#accordion"  style="color: blue;"  href="#collapse{{ forloop.counter }}">{{ postVar.titleText }}</a>
		
				</span>
				
				<span style= " float: right;">
				
					${{ postVar.price }}
				
				</span>
				
			  </div>
			  
				{% if forloop.counter == 1 %}
			  
					<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
			  
				{% else %}
			  
					<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
			  
				{% endif %}

			  	{% if postList %}
				<div class="panel-body"> 
				
					<div style="display: inline-block; width: 800px; height: 300px;">
						{% if postVar.file %}
							<img style="height: 100%; width: 300px; border-radius: 5px; float: left;" src="{{postVar.file.url}}">
						{% endif %}
						<div style="margin-left: 315px; width: 300px; height: 300px;">
						
							<div style="border: 1px solid #e3e3e3; background-color: #f5f5f5; border-radius: 5px; height: 30%; width: 100%;">
							
								<div style="padding-left: 5px; padding-top: 5px; margin-left: 5px; font-size: 15px;">
								{{ postVar.titleText }}
								</div>
								<div style="font-size: 10px; margin-left: 10px; color: grey;">
									Posted by {{ postVar.user.first_name }} {{ postVar.user.last_name }}</span>
								</div>
								<div style="font-size: 10px; margin-left: 10px; color: grey;">
								
									{{ postVar.creation_date }}
								
								</div>
								<div style="position: relative; bottom: -5px; left: 10px; font-size: 18px; color: #0db80d;">
								
									${{ postVar.price }}
								
								</div>
								
							</div>
							
							<div style="border: 1px solid #e3e3e3; background-color: #f5f5f5; border-radius: 5px; margin-top: 5%; width: 100%; padding: 10px; font-size: 12px;">
								
								{{ postVar.description }}
							
							</div>
							
							<a class="btn btn-outline-primary" style="margin-top: 10px; border: 1px solid blue;" href="/posts/{{ postVar.id }}/">More</a>
							
							{% if postVar.user == request.user %}
							<a class="btn btn-outline-danger" style="margin-top: 10px; border: 1px solid red;" href="/posts/{{ postVar.id }}/delete">Delete</a>
							{%endif%}
						
						</div>
					</div>
				
				</div>
				{% endif %}
				
			  </div>
			  
			</div>
	
		{% endfor %}
		
	{% else %} 

	<p>No posts are available.</p>
			
	{% endif %}
	
	
  </div> 
</div>
    
	
</body>



{% endblock %} 


<!-- Example of accessing elements within an array that is passed by a dictionary
{% if test_array %}

	<ul>
	{% for test in test_array %}
	 
		<li> {{ test }} </li>
	
	{% endfor %} 
	</ul>
	
{% endif %}
-->